@font-face {
    font-family: Digital-7;
    src: url(./digital-7.ttf);
}

html {
    height: 100%;

    /* content */
    font-family: Digital-7;
    font-size: 4em;
}

body {
    display: flex;
    justify-content: center;
    
}

.calculator {
    background-color:burlywood;
    display: flex;
    flex-wrap: wrap;

    /* size */
    height: 600px;
    width: 700px;

    /* position */
    margin-top:5vh;
    justify-self: center;
}

.display {
    display: flex;
    background-color: dimgrey;

    /* size */
    height: 20%;
    width: inherit;

    /* position */
    flex-grow: 1;

    /* content */
    padding-right: 5%;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: flex;

    /* size */
    height: 80%;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: column;

    /* size */
    width: 25%;

    /* position */
    justify-content: flex-start;
}

.columns > div {
    /* size */
    height: 25%;
    width: 100%;

    /* content */
    text-align: center;
    align-content: center;
}